In [53]:
# Exploratory Data Analysis (EDA)

Program to extract data from the opendata from Ville de PAris velib API
and save it as CSV files

https://www.velib-metropole.fr/donnees-open-data-gbfs-du-service-velib-metropole

In [54]:
#uncomment the code below to nstall librairies once
#!pip install pandas 
#!pip install requests 

import pandas as pd 
import requests

#def get_stations():
api = "https://velib-metropole-opendata.smovengo.cloud/opendata/Velib_Metropole/station_status.json"
response = requests.get(api)
if (response.status_code == 200):
    print("API is OK")
    #print(response.json())
    station_status_data = response.json()["data"]["stations"]
    station_status_data = pd.DataFrame(station_status_data)
    
    print(station_status_data.columns)

else:
    print("Something went wrong with velib station status API ")

API is OK
Index(['station_id', 'num_bikes_available', 'numBikesAvailable',
       'num_bikes_available_types', 'num_docks_available', 'numDocksAvailable',
       'is_installed', 'is_returning', 'is_renting', 'last_reported',
       'stationCode'],
      dtype='object')

    station_id : numéro unique d’identification de la station. Ce numéro identifie la station au sein du service Vélib’ Métropole
    is_installed : variable binaire indiquant si la station est. La station a déjà été déployée (1) ou est encore en cours de déploiement (0) 
    is_renting : variable binaire indiquant si la station peut louer des vélos (is_renting=1 si le statut de la station est Operative)
    is_returning : variable binaire indiquant si la station peut recevoir des vélos (is_renting=1 si le statut de la station est Operative)
    last_reported : date de la dernière mise-à-jour 
    numBikesAvailable : nombre de vélos disponibles
    numDocksAvailable : nombre de bornettes disponibles
    num_bikes_available : nombre de vélos disponibles
    num_bikes_available_types : nombre de vélos disponibles avec distinctions entre Vélib’ mécanique et électrique

In [55]:
station_status_data

,station_id,num_bikes_available,numBikesAvailable,num_bikes_available_types,num_docks_available,numDocksAvailable,is_installed,is_returning,is_renting,last_reported,stationCode
0,213688169,22,22,"[{'mechanical': 17}, {'ebike': 5}]",12,12,1,1,1,1733545607,16107
1,17278902806,9,9,"[{'mechanical': 2}, {'ebike': 7}]",11,11,1,1,1,1733545422,44015
2,36255,0,0,"[{'mechanical': 0}, {'ebike': 0}]",19,19,1,1,1,1733545404,9020
3,251039991,13,13,"[{'mechanical': 13}, {'ebike': 0}]",12,12,1,1,1,1733545663,14111
4,85002689,36,36,"[{'mechanical': 16}, {'ebike': 20}]",24,24,1,1,1,1733545525,14014
...,...,...,...,...,...,...,...,...,...,...,...
1482,476155906,10,10,"[{'mechanical': 3}, {'ebike': 7}]",12,12,1,1,1,1733545612,4010
1483,129026597,3,3,"[{'mechanical': 2}, {'ebike': 1}]",15,15,1,1,1,1733545663,9104
1484,516395829,7,7,"[{'mechanical': 2}, {'ebike': 5}]",4,4,1,1,1,1733545614,4005
1485,368766689,22,22,"[{'mechanical': 14}, {'ebike': 8}]",4,4,1,1,1,1733545644,42004
1486,315022587,2,2,"[{'mechanical': 1}, {'ebike': 1}]",64,64,1,1,1,1733545538,8004

In [56]:
station_status_data.isna().sum()

station_id                   0
num_bikes_available          0
numBikesAvailable            0
num_bikes_available_types    0
num_docks_available          0
numDocksAvailable            0
is_installed                 0
is_returning                 0
is_renting                   0
last_reported                0
stationCode                  0
dtype: int64

In [57]:
station_status_data.dtypes

station_id                    int64
num_bikes_available           int64
numBikesAvailable             int64
num_bikes_available_types    object
num_docks_available           int64
numDocksAvailable             int64
is_installed                  int64
is_returning                  int64
is_renting                    int64
last_reported                 int64
stationCode                  object
dtype: object

In [58]:
station_status_data = station_status_data.astype({'is_installed':bool, 'is_returning':bool, 'is_renting':bool, 'stationCode':int,'last_reported':'datetime64[s]'})
station_status_data

,station_id,num_bikes_available,numBikesAvailable,num_bikes_available_types,num_docks_available,numDocksAvailable,is_installed,is_returning,is_renting,last_reported,stationCode
0,213688169,22,22,"[{'mechanical': 17}, {'ebike': 5}]",12,12,True,True,True,2024-12-07 04:26:47,16107
1,17278902806,9,9,"[{'mechanical': 2}, {'ebike': 7}]",11,11,True,True,True,2024-12-07 04:23:42,44015
2,36255,0,0,"[{'mechanical': 0}, {'ebike': 0}]",19,19,True,True,True,2024-12-07 04:23:24,9020
3,251039991,13,13,"[{'mechanical': 13}, {'ebike': 0}]",12,12,True,True,True,2024-12-07 04:27:43,14111
4,85002689,36,36,"[{'mechanical': 16}, {'ebike': 20}]",24,24,True,True,True,2024-12-07 04:25:25,14014
...,...,...,...,...,...,...,...,...,...,...,...
1482,476155906,10,10,"[{'mechanical': 3}, {'ebike': 7}]",12,12,True,True,True,2024-12-07 04:26:52,4010
1483,129026597,3,3,"[{'mechanical': 2}, {'ebike': 1}]",15,15,True,True,True,2024-12-07 04:27:43,9104
1484,516395829,7,7,"[{'mechanical': 2}, {'ebike': 5}]",4,4,True,True,True,2024-12-07 04:26:54,4005
1485,368766689,22,22,"[{'mechanical': 14}, {'ebike': 8}]",4,4,True,True,True,2024-12-07 04:27:24,42004
1486,315022587,2,2,"[{'mechanical': 1}, {'ebike': 1}]",64,64,True,True,True,2024-12-07 04:25:38,8004

In [59]:
num_bikes_available_types = station_status_data["num_bikes_available_types"].apply(lambda l: pd.Series({**l[0], **l[1]}))
num_bikes_available_types

      mechanical  ebike
0             17      5
1              2      7
2              0      0
3             13      0
4             16     20
...          ...    ...
1482           3      7
1483           2      1
1484           2      5
1485          14      8
1486           1      1

[1487 rows x 2 columns]

In [ ]:
station_status_data =  pd.concat([station_status_data, num_bikes_available_types], axis=1)
station_status_data.drop(columns=['numBikesAvailable', 'numDocksAvailable', 'num_bikes_available_types'], inplace = True)
#numBikesAvailable is the same thing than num_bikes_available
#numDocksAvailable is the same thing than num_docks_available
station_status_data

,station_id,num_bikes_available,num_docks_available,is_installed,is_returning,is_renting,last_reported,stationCode,mechanical,ebike
0,213688169,22,12,True,True,True,2024-12-07 04:26:47,16107,17,5
1,17278902806,9,11,True,True,True,2024-12-07 04:23:42,44015,2,7
2,36255,0,19,True,True,True,2024-12-07 04:23:24,9020,0,0
3,251039991,13,12,True,True,True,2024-12-07 04:27:43,14111,13,0
4,85002689,36,24,True,True,True,2024-12-07 04:25:25,14014,16,20
...,...,...,...,...,...,...,...,...,...,...
1482,476155906,10,12,True,True,True,2024-12-07 04:26:52,4010,3,7
1483,129026597,3,15,True,True,True,2024-12-07 04:27:43,9104,2,1
1484,516395829,7,4,True,True,True,2024-12-07 04:26:54,4005,2,5
1485,368766689,22,4,True,True,True,2024-12-07 04:27:24,42004,14,8
1486,315022587,2,64,True,True,True,2024-12-07 04:25:38,8004,1,1

In [63]:
station_status_data.rename({
        "mechanical": "available_mechanical_bike",
        "ebike": "available_electrical_bike",
        "last_reported": "time",
    }, axis=1, inplace=True)
station_status_data

,station_id,num_bikes_available,num_docks_available,is_installed,is_returning,is_renting,time,stationCode,available_mechanical_bike,available_electrical_bike
0,213688169,22,12,True,True,True,2024-12-07 04:26:47,16107,17,5
1,17278902806,9,11,True,True,True,2024-12-07 04:23:42,44015,2,7
2,36255,0,19,True,True,True,2024-12-07 04:23:24,9020,0,0
3,251039991,13,12,True,True,True,2024-12-07 04:27:43,14111,13,0
4,85002689,36,24,True,True,True,2024-12-07 04:25:25,14014,16,20
...,...,...,...,...,...,...,...,...,...,...
1482,476155906,10,12,True,True,True,2024-12-07 04:26:52,4010,3,7
1483,129026597,3,15,True,True,True,2024-12-07 04:27:43,9104,2,1
1484,516395829,7,4,True,True,True,2024-12-07 04:26:54,4005,2,5
1485,368766689,22,4,True,True,True,2024-12-07 04:27:24,42004,14,8
1486,315022587,2,64,True,True,True,2024-12-07 04:25:38,8004,1,1

In [65]:
api = "https://velib-metropole-opendata.smovengo.cloud/opendata/Velib_Metropole/station_information.json"
response = requests.get(api)
station_info_data = pd.DataFrame(response.json()["data"]["stations"])
station_info_data

,station_id,stationCode,name,lat,lon,capacity,rental_methods
0,213688169,16107,Benjamin Godard - Victor Hugo,48.865983,2.275725,35,NaN
1,17278902806,44015,Rouget de L'isle - Watteau,48.778193,2.396302,20,NaN
2,36255,9020,Toudouze - Clauzel,48.879296,2.337360,21,[CREDITCARD]
3,251039991,14111,Cassini - Denfert-Rochereau,48.837526,2.336035,25,[CREDITCARD]
4,85002689,14014,Jourdan - Stade Charléty,48.819428,2.343335,60,[CREDITCARD]
...,...,...,...,...,...,...,...
1482,476155906,4010,Saint-Antoine Sévigné,48.855022,2.361232,26,[CREDITCARD]
1483,129026597,9104,Caumartin - Provence,48.874423,2.328469,22,[CREDITCARD]
1484,516395829,4005,Quai des Célestins - Henri IV,48.851297,2.362453,14,[CREDITCARD]
1485,368766689,42004,Westermeyer - Paul Vaillant-Couturier,48.819116,2.396664,25,[CREDITCARD]
1486,315022587,8004,Malesherbes - Place de la Madeleine,48.870406,2.323244,67,[CREDITCARD]

In [67]:

station_info_data.dtypes

station_id          int64
stationCode        object
name               object
lat               float64
lon               float64
capacity            int64
rental_methods     object
dtype: object

In [68]:
station_info_data.isna().sum()

station_id          0
stationCode         0
name                0
lat                 0
lon                 0
capacity            0
rental_methods    616
dtype: int64

In [71]:
station_info_data = station_info_data.fillna("UNKNOWN")
station_info_data

,station_id,stationCode,name,lat,lon,capacity,rental_methods
0,213688169,16107,Benjamin Godard - Victor Hugo,48.865983,2.275725,35,UNKNOWN
1,17278902806,44015,Rouget de L'isle - Watteau,48.778193,2.396302,20,UNKNOWN
2,36255,9020,Toudouze - Clauzel,48.879296,2.337360,21,[CREDITCARD]
3,251039991,14111,Cassini - Denfert-Rochereau,48.837526,2.336035,25,[CREDITCARD]
4,85002689,14014,Jourdan - Stade Charléty,48.819428,2.343335,60,[CREDITCARD]
...,...,...,...,...,...,...,...
1482,476155906,4010,Saint-Antoine Sévigné,48.855022,2.361232,26,[CREDITCARD]
1483,129026597,9104,Caumartin - Provence,48.874423,2.328469,22,[CREDITCARD]
1484,516395829,4005,Quai des Célestins - Henri IV,48.851297,2.362453,14,[CREDITCARD]
1485,368766689,42004,Westermeyer - Paul Vaillant-Couturier,48.819116,2.396664,25,[CREDITCARD]
1486,315022587,8004,Malesherbes - Place de la Madeleine,48.870406,2.323244,67,[CREDITCARD]

In [ ]:
pd.Series(station_info_data['rental_methods']).explode().unique() # get unique values from the column  rental_methods

array(['UNKNOWN', 'CREDITCARD'], dtype=object)

In [76]:
station_info_data['credit_card'] = station_info_data.rental_methods.str.contains('CREDITCARD', regex=False)

In [80]:
station_info_data

,station_id,stationCode,name,lat,lon,capacity,rental_methods,credit_card
0,213688169,16107,Benjamin Godard - Victor Hugo,48.865983,2.275725,35,UNKNOWN,False
1,17278902806,44015,Rouget de L'isle - Watteau,48.778193,2.396302,20,UNKNOWN,False
2,36255,9020,Toudouze - Clauzel,48.879296,2.337360,21,[CREDITCARD],True
3,251039991,14111,Cassini - Denfert-Rochereau,48.837526,2.336035,25,[CREDITCARD],True
4,85002689,14014,Jourdan - Stade Charléty,48.819428,2.343335,60,[CREDITCARD],True
...,...,...,...,...,...,...,...,...
1482,476155906,4010,Saint-Antoine Sévigné,48.855022,2.361232,26,[CREDITCARD],True
1483,129026597,9104,Caumartin - Provence,48.874423,2.328469,22,[CREDITCARD],True
1484,516395829,4005,Quai des Célestins - Henri IV,48.851297,2.362453,14,[CREDITCARD],True
1485,368766689,42004,Westermeyer - Paul Vaillant-Couturier,48.819116,2.396664,25,[CREDITCARD],True
1486,315022587,8004,Malesherbes - Place de la Madeleine,48.870406,2.323244,67,[CREDITCARD],True

In [81]:
station_info_data = station_info_data.astype({'stationCode':int})

In [82]:
station_info_data.rename({
        "lat": "latitude",
        "lon": "longitude",
        "name": "station_name",
    }, axis=1, inplace=True)
station_info_data

,station_id,stationCode,station_name,latitude,longitude,capacity,rental_methods,credit_card
0,213688169,16107,Benjamin Godard - Victor Hugo,48.865983,2.275725,35,UNKNOWN,False
1,17278902806,44015,Rouget de L'isle - Watteau,48.778193,2.396302,20,UNKNOWN,False
2,36255,9020,Toudouze - Clauzel,48.879296,2.337360,21,[CREDITCARD],True
3,251039991,14111,Cassini - Denfert-Rochereau,48.837526,2.336035,25,[CREDITCARD],True
4,85002689,14014,Jourdan - Stade Charléty,48.819428,2.343335,60,[CREDITCARD],True
...,...,...,...,...,...,...,...,...
1482,476155906,4010,Saint-Antoine Sévigné,48.855022,2.361232,26,[CREDITCARD],True
1483,129026597,9104,Caumartin - Provence,48.874423,2.328469,22,[CREDITCARD],True
1484,516395829,4005,Quai des Célestins - Henri IV,48.851297,2.362453,14,[CREDITCARD],True
1485,368766689,42004,Westermeyer - Paul Vaillant-Couturier,48.819116,2.396664,25,[CREDITCARD],True
1486,315022587,8004,Malesherbes - Place de la Madeleine,48.870406,2.323244,67,[CREDITCARD],True

In [87]:
df = station_status_data.merge(station_info_data, on=["station_id","stationCode"])
df

,station_id,num_bikes_available,num_docks_available,is_installed,is_returning,is_renting,time,stationCode,available_mechanical_bike,available_electrical_bike,station_name,latitude,longitude,capacity,rental_methods,credit_card
0,213688169,22,12,True,True,True,2024-12-07 04:26:47,16107,17,5,Benjamin Godard - Victor Hugo,48.865983,2.275725,35,UNKNOWN,False
1,17278902806,9,11,True,True,True,2024-12-07 04:23:42,44015,2,7,Rouget de L'isle - Watteau,48.778193,2.396302,20,UNKNOWN,False
2,36255,0,19,True,True,True,2024-12-07 04:23:24,9020,0,0,Toudouze - Clauzel,48.879296,2.337360,21,[CREDITCARD],True
3,251039991,13,12,True,True,True,2024-12-07 04:27:43,14111,13,0,Cassini - Denfert-Rochereau,48.837526,2.336035,25,[CREDITCARD],True
4,85002689,36,24,True,True,True,2024-12-07 04:25:25,14014,16,20,Jourdan - Stade Charléty,48.819428,2.343335,60,[CREDITCARD],True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1482,476155906,10,12,True,True,True,2024-12-07 04:26:52,4010,3,7,Saint-Antoine Sévigné,48.855022,2.361232,26,[CREDITCARD],True
1483,129026597,3,15,True,True,True,2024-12-07 04:27:43,9104,2,1,Caumartin - Provence,48.874423,2.328469,22,[CREDITCARD],True
1484,516395829,7,4,True,True,True,2024-12-07 04:26:54,4005,2,5,Quai des Célestins - Henri IV,48.851297,2.362453,14,[CREDITCARD],True
1485,368766689,22,4,True,True,True,2024-12-07 04:27:24,42004,14,8,Westermeyer - Paul Vaillant-Couturier,48.819116,2.396664,25,[CREDITCARD],True
1486,315022587,2,64,True,True,True,2024-12-07 04:25:38,8004,1,1,Malesherbes - Place de la Madeleine,48.870406,2.323244,67,[CREDITCARD],True